<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="webradic.binarymessenger" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="webradic.binarymessenger.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="webradic.binarymessenger.permission.C2D_MESSAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="binary.gcmhandlers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="webradic.binarymessenger" />
            </intent-filter>
        </receiver>

        <service android:name="binary.gcmhandlers.GcmIntentService" />

        <provider
            android:name="binary.datahandlers.DataProvider"
            android:authorities="webradic.binarymessenger.provider"
            android:exported="false" >
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".SignupNameChoser"
            android:label="@string/title_activity_signup_name_choser" >
        </activity>
        <activity
            android:name=".AddContact"
            android:label="@string/title_activity_add_contact" >
        </activity>
        <activity
            android:name=".BinaryChatActivity"
            android:label="@string/title_activity_binary_chat" >
        </activity>
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile" >
        </activity>
        <activity
            android:name="binary.splash.Splash1"
            android:label="@string/title_activity_splash1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Decoder"
            android:label="@string/title_activity_decoder" >
        </activity>
        <activity
            android:name=".Secure"
            android:label="@string/title_activity_secure" >
        </activity>
    </application>

</manifest>
